html, body, header, nav, main, article, section, div, h1, h2, h3, ul, li, a, p {
    margin: 0;
    padding: 0;
    font-family: Calibri, Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2f2f2;
    padding: 20px;
}

header {
    width: 95%;
    margin: 0 auto 20px auto;
    overflow: hidden; 
}

.bloque-marca {
    float: left;
    width: 50%  ;
}

.logo-recuadro {
    float: left;
    border: 3px solid black;
    width: 100px;
    padding: 5px;
    background-color: white;
}

.logo-recuadro img {
    width: 100%;
    display: block;
}

.nombre-empresa {
    float: left;
    padding-left: 20px;
    padding-top: 20px; 
    font-size: 38px;
    font-weight: bold;
    color: #004d40;
}

nav {
    float: right;
    padding-top: 25px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #0081c9;
    font-weight: bold;
    padding-left: 20px;
    font-size: 18px;
}


main {
    width: 95%;
    margin: 0 auto;
    clear: both;
}

section, article {
    clear: both;
    margin-bottom: 25px;
}

.banner-principal {
    border: 3px solid black;
    text-align: center;
    background-color: white;
}

.banner-principal img {
    width: 100%;
    display: block;
}


.seccion-info {
    border: 3px solid black;
    padding: 20px;
    overflow: hidden; 
    background-color: white;
}

.caja-gerente {
    float: left;
    width: 20%; 
    border: 3px solid black;
    padding: 20px;  
    text-align: center;
}

.caja-gerente img {
    width: 81%;
    padding-left: 28px;
    display: block;
}

.caja-datos {
    float: right;
    width: 65%; 
    border: 3px solid black;
    padding: 30px;
}

.caja-datos p {
    font-size: 32px;
    margin-bottom: 50px;
    text-align: justify;
}

.seccion-representativa {
    clear: both; 
    border: 3px solid black;
    padding: 25px;
    text-align: center;
    background-color: white;
}

.recuadro-interno {
    border: 3px solid black;
    padding: 10px;
    display: block; 
    width: 98%; 
    margin: 0 auto;
}

.recuadro-interno img {
    width: 100%; 
    height: auto; 
    display: block;
}

.seccion-login {
    border: 3px solid black;
    padding: 40px;
    text-align: center;
    background-color: white;
}

.caja-login-interna {
    border: 3px dashed black;
    padding: 50px; 
    display: inline-block;
    width: 90%; 
}

.campo {
    margin-bottom: 20px;
    text-align: center; 
}

.campo label {
    display: block; 
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.controles {
    width: 60%; 
    height: 45px;
    font-size: 18px;
    border: 2px solid black;
    padding: 0 10px;
}

.boton {
    width: 150px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.seccion-galeria {
    clear: both;
    border: 3px solid black;
    padding: 10px;
    overflow: hidden; 
    background-color: white;
}

.caja-producto {
    float: left;
    width: 26%; 
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 3px solid black;
    padding: 10px;
    height: 620px; 
}

.recuadro-imagen-prod { 
    border: 3px solid black;
    height: 180px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

.recuadro-imagen-prod img {
    max-height: 100%;
    max-width: 100%;
    display: inline-block;
}

.bloque-cantidad {
    text-align: right;
    margin-bottom: 10px;
}

.input-cantidad {
    width: 40px;
    border: 2px solid black;
    padding: 2px;
}

.descripcion-caja {
    background-color: #e8f5e9;
    border: 3px solid black;
    padding: 8px;
    font-size: 13px;
    height: 160px;
    overflow-y: auto;
    text-align: justify;
}


footer {
    clear: both;
    border: 3px solid black;
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}


@media screen and (max-width: 800px) {
    .bloque-marca, nav, .caja-gerente, .caja-datos, .caja-producto, .caja-login-interna, .controles {
        float: none;
        width: 100%;
        margin: 10px 0;
    }
}